*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("gato.jpg");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     top: 284px;
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 325px;
    
    background-image: url("negro.jfif");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: cyan;
    
     
    
    }
    