*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("forest-g0fc2e4fa8_1280.jpg");
    
    background-repeat: no-repeat;


    }
   
    .img{
    
    position: relative;
    
     top: 284px;
    
    width: 200px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 325px;
    
    background-image: url("");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: rgb(255, 255, 255);
    
     
    
    }

    .contenido{

        height: 500px;
        
        width: 100%;
        
        position: absolute;
        
        top: 400px;
        
         left: 20px;
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 250px;
        
        width: 300px;
        
        margin-left: 5px;
        
        margin-right: 10px;
        
        background-image: url("imagen.avif");
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: rgb(0, 0, 0);
        
        font-size: 20px;
        
        
        
        }
        